{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Orlando Saraiva do Nascimento Júnior">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <title>Vagas de Estágio</title>
    </head>
    <body style="margin: 40px">
        <br>
            <h1>Vagas de Estágio </h1>
            <h2> Cadastro de Vagas de Estágio</h2>
        <br>

        {% if form %}
        <form action={% url 'core:confirm_update' %} novalidate method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value={{ pk }}>
            <h5>
                {{ form.titulo.label }} : {{ form.titulo }}
            </h5>
            <br>
            <h5>
                {{ form.empresa.label }} : {{ form.empresa }}
            </h5>
            <br>
            <h5>
                {{ form.telefone.label }}: {{ form.telefone }}
            </h5>
            <br>
            <h5>
                {{ form.email.label }}: {{ form.email }}
            </h5>
            <br>
            <h5>
                {{ form.descricao.label }}: {{ form.descricao }}
            </h5>
            <br><br>
            <center>
                <input class="btn btn-primary" type="submit" value="Atualizar"/>
            </center>
        </form>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong><br>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <br><br>
        {% else %}
            <h2> Nenhuma vaga cadastrada</h2>      
        {% endif %} 

        <center>
            <form action={% url 'core:read' %} novalidate method="GET">
                <input class="btn btn-secondary"  type="submit" value="Voltar"/>              
            </form>
        </center>
    </body>

</html>